<% provide :title, 'Clinical Trials' %>
<%= render "shared/header" %>

<div class="row">
  <%= render "shared/sidebar" %>
  <div class="container col-md-9 col-xs-6">
    <%= form_tag(admin_clinic_trial_path(:trials), method: "put") do %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">NCTId</th>
            <th scope="col">BriefTitle</th>
            <th scope="col">OverallStatus</th>
            <th scope="col">BF_Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @trials.each do |trial| %>
            <tr>
              <th scope="row"><%= trial['id'] %></th>
              <td><%= trial['upidnumber'] %></td>
              <td><%= trial['trial_name'] %></td>
              <td><%= trial['trial_status'] %></td>
              <td>
                <%= hidden_field_tag('seen[]', trial.id) -%>
                <%= check_box_tag 'bf_status[]', trial.id, trial['bf_status'] -%>
              </td>
              <td>
                <%= link_to admin_clinic_trial_path(trial['upidnumber']), class: "btn btn-primary" do %>
                  Show
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @trials %>
      <%= submit_tag "Hide Selected", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>