<%= render "shared/navbar" %>
<div class="row">
  <div class="col-md-8 col-11 col-sm-11">
    <textarea class="mt-3 ml-3 mr-3 w-100" rows="30">
      <%= @trial_detail.to_s %>
    </textarea>
  </div>
  <div class="col-md-4 col-11 col-sm-11">
    <% unless @is_applied > 0 %>
      <%= form_for :patient, html: {class: "form-group"} do |f| %>
        <%= submit_tag "Interest", class: "btn btn-primary mt-3" %>
      <% end %>
    <% else %>
      <p class="mt-4">You already applied.</p>
    <% end %>
    <%= flash[:error].to_s %>
  </div>
</div>

